---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Source'
    value: page.source
  - label: 'Date'
    value: page._date
  - label: 'Description'
    value: page.description
  - label: 'Attribution'
    value: page.attribution
  - label: 'Source URL'
    value: page.url_original
  - label: 'Video URL'
    value: page.url_video
  - label: 'Metadata Creator'
    value: page.creator
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
